@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #131313; /* Dark base background */
  color: #f0f0f0; /* Light text color */
  background-image: linear-gradient(to right, #1c1e1c 1px, transparent 1px),
    linear-gradient(to bottom, #1c1e1c 1px, transparent 1px);
  background-size: 30px 30px; /* Adjust grid size */
}

/* Ensure the content takes at least the full height of the screen */
.custom-background {
  min-height: 100vh;
}
/* Custom Scrollbar Style */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2a8258;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2c2c2c;
}
.toast-success-custom {
  background-color: #000000 !important;
  color: #ffffff !important;
  font-weight: bold !important;
  border-radius: 8px !important;
  border: 2px solid #1db954 !important; /* Optional: Add a green border */
  padding: 12px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
  text-align: center !important;
}
.toast-error-custom {
  background-color: #d72d2d !important; /* Dark red background */
  color: #ffffff !important; /* White text */
  font-weight: bold !important;
  border-radius: 8px !important;
  border: 2px solid #ff0000 !important; /* Optional: Add a light red border */
  padding: 12px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
  text-align: center !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* This will make the icon white */
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}